<br>
<div class="container">
  <div class="row d-flex">
    <div class="col">
      <button class="btn btn-primary mb-3" (click)="exportToExcel()">Exportar a Excel</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Animal ID</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha de vacunación</th>
            <th scope="col">Lugar de vacunación</th>
            <th scope="col">Peso</th>
            <th scope="col">Origen</th>
            <th scope="col">Edificio</th>
            <th scope="col">Box</th>
            <th scope="col">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perro of displayedPerros">
            <td>{{perro.animalID}}</td>
            <td>{{perro.edad}}</td>
            <td>{{perro.fechaprimeravacuna}}</td>
            <td>{{perro.lugarDeVacunacion}}</td>
            <td>{{perro.peso}}</td>
            <td>{{perro.origen}}</td>
            <td>{{perro.edificio}}</td>
            <td>{{perro.box}}</td>
            <td>{{perro.observaciones}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination-controls">
    <div class="page-size-options">
      <label for="pageSize">Items por página:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="changePageSize(pageSize)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
      </select>
    </div>
    <div class="pagination-buttons">
      <button (click)="goToPage(0)" [disabled]="currentPage === 0">&laquo;</button>
      <button (click)="previousPage()" [disabled]="currentPage === 0">&lt;</button>
      <span>Pagina {{currentPage + 1}} of {{totalPages()}}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages() - 1"> &gt;</button>
      <button (click)="goToPage(totalPages() - 1)" [disabled]="currentPage >= totalPages() - 1"> &raquo;</button>
    </div>
  </div>





