
<mat-dialog-content class="mat-typography">

  <div>
    <label for="animalID">AnimalId:</label> <br>
    <input class="form-control" id="animalID" type="text" placeholder="{{data.animalId}}" [(ngModel)]="data.animalId" name="animalID"/> <br>
  </div>

  <div>
    <label for="edad">Edad:</label> <br>
    <input class="form-control" id="edad" type="number" placeholder="{{data.edad}}" [(ngModel)]="data.edad" name="edad"/> <br>
  </div>

  <div>
    <label for="fechaprimeravacuna">Fecha de vacunación:</label> <br>
    <input class="form-control" id="fechaprimeravacuna" type="date" placeholder="{{data.fechaPrimeraVacuna}}" [(ngModel)]="data.fechaPrimeraVacuna" name="fechaprimeravacuna"/> <br>
  </div>

  <div>
    <label for="lugarDeVacunacion">Lugar de vacunación:</label> <br>
    <textarea class="form-control" id="lugarDeVacunacion" type="text" placeholder="{{data.lugarVacunacion}}" [(ngModel)]="data.lugarVacunacion" name="lugarDeVacunacion"></textarea> <br>
  </div>

  <div>
    <label for="peso">Peso:</label> <br>
    <input class="form-control" id="peso" type="number" placeholder="{{data.peso}}" [(ngModel)]="data.peso" name="peso"/> <br>
  </div>


  <div [formGroup]="form">
    <label for="edificio">Edificio:</label> <br>
    <select class="form-control" id="edificio" formControlName="edificio" [(ngModel)]="data.edificio">
      <option value="" disabled selected>Seleccione el edificio</option>
      <option value="107">107</option>
      <option value="108">108</option>
    </select>
  </div>
  <br>

  <div [formGroup]="form">
    <label for="box">Box:</label>
    <select class="form-control" id="box" formControlName="box" [(ngModel)]="data.box">
      <option value="" disabled selected>Seleccione el box</option>
      <ng-container *ngIf="data.edificio === '107'">
        <option *ngFor="let box of boxes107" [value]="box">{{ box }}</option>
      </ng-container>
      <ng-container *ngIf="data.edificio === '108'">
        <option *ngFor="let box of boxes108" [value]="box">{{ box }}</option>
      </ng-container>
    </select>
  </div>

  <div>
    <label for="origen">Origen:</label> <br>
    <input class="form-control" id="origen" type="text" placeholder="{{data.origen}}" [(ngModel)]="data.origen" name="origen"/> <br>
  </div>

  <div>
    <p>Estado de adopción:</p>
    <select class="form-control" id="estadoAdopcion" name="estadoAdopcion" [(ngModel)]="data.estadoAdoptado" #estadoAdopcion="ngModel" ><br>
      <option value="" disabled selected>¿Está adoptado?</option>
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>
  </div>


  <div>
    <p>Estado de vida:</p>
    <select class="form-control" id="estadoMuerto" name="estadoMuerto" [(ngModel)]="data.estadoMuerto" #estadoMuerto="ngModel" >
      <option value="" disabled selected>¿Está muerto?</option>
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>
  </div>
  <br>

  <div>
    <label for="observaciones">Observaciones:</label> <br>
    <textarea class="form-control" id="observaciones" type="text" placeholder="{{data.observacion}}" [(ngModel)]="data.observacion" name="observaciones"></textarea> <br>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="onYesClick()" cdkFocusInitial>Editar</button>
</mat-dialog-actions>



