<div class="container p-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
          {{perros.animalID}}
          <div class="header-actions d-flex align-items-center">
            <ul class="skills-list d-flex align-items-center">

              <!-- MOSTRAR -->
                <li class="icon-container">


            </ul>

          </div>
        </div>

        <div class="card-body" [hidden]="perros.hide">
          <span>ISBN: {{perros.origen}}</span> <br>
          <span>Animal ID: {{perros.animalID}}</span> <br>
          <span>Edad: {{perros.edad}}</span> <br>
          <span>Fecha de vacunación: {{perros.fechaprimeravacuna}}</span> <br>
          <span>Lugar de vacunación: {{perros.lugarDeVacunacion}}</span> <br>
          <span>Peso: {{perros.peso}}</span> <br>
          <span>Edificio: {{perros.edificio}}</span> <br>
          <span>Box: {{perros.box}}</span> <br>
          <span>Observaciones: {{perros.observaciones}}</span> <br>
        </div>
      </div>
    </div>
  </div>
</div>



