.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  transition: 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }


.form-card {
  position: sticky;
  top: 20px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
 }

 .btn {
  border-radius: 5px;

 }

 .form-group {
  margin-bottom: 15px;
 }

 .header-actions {
  display: flex;
  align-items: center;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn {
  margin-left: 10px;
}

.icon-container button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-container button:hover .icon {
  fill: #007bff;
}

