<div class="container">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md bg-white p-8 rounded-lg shadow-lg">
      <h2 class="text-center text-3xl font-extrabold text-gray-900">Register</h2>

      <form class="mt-8 space-y-6" method="POST" [formGroup]="form" (ngSubmit)="submit(nombre, apellido)">

        <div>
          <label for="nombre" class="block text-sm font-medium text-gray-700" >Nombre</label>
          <div class="mt-1">
            <input id="nombre" name="nombre" type="text" #nombre required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" formControlName="password">
          </div>
        </div>

        <div>
          <label for="apellido" class="block text-sm font-medium text-gray-700" >Apellidos</label>
          <div class="mt-1">
            <input id="apellido" name="apellido" type="text" #apellido required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" formControlName="password">
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <div class="mt-1">
            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" formControlName="email">
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <div class="mt-1">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" formControlName="password">
          </div>
        </div>

        <div>
           <button type="submit" class="confirmar-button" (onclick)="navegarALogin()">Crear cuenta</button>
        </div>
        <p class="mt-10 text-center text-sm/6 text-gray-500">
          Ya tienes cuenta?
          <a href="/login" class="font-semibold text-indigo-600 hover:text-indigo-500">Ingresa aquí</a>
        </p>
      </form>
    </div>
  </div>
</div>
